:root {
  --black: #222222;
  --pink: #F1E4E6;
  --dark-pink: #F16D7F;
  --white: #FFFFFF;
  --gray: #9F9F9F;
  --dark-gray: #5D5D5D;
  --dark-black: #222224;
  --cristal-white: #FBFBFB;
  --red: #F26376;
  --black-hex: #000000;
  --gray-rgb: #6F6E6E;
  --pale-pink:#E5E5E5;
  --light-pink:#F8F3F4;
  --gray-light: #E5E5E5;
  --black-black:#000000;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .container {
    width: 91%;
    margin: 0 auto;
  }
}

.header {
  background-color: var(--black);
  min-height: 50px;
}

.header .header__container {
  display: flex;
  align-items: center;
  min-height: 75px;
  justify-content: space-between;
}

@media (max-width: 1599px) {
  .header .header__container {
    padding: 0 16px;
  }
}

@media (max-width: 1599px) and (max-width: 375px) {
  .header .header__container {
    padding: 0;
  }
}

.header .header__menu {
  display: none;
  background-color: var(--white);
  padding: 0 0 138px 0;
  position: absolute;
  margin-top: 56px;
  margin-left: 207px;
}

@media (max-width: 1599px) {
  .header .header__menu {
    margin-top: 56px;
    margin-left: 13px;
  }
}

@media (max-width: 375px) {
  .header .header__menu {
    margin-top: 56px;
    margin-left: -107px;
  }
}

.header .header__menu_show {
  display: block;
}

.header .header__box {
  display: flex;
  position: relative;
}

.header .header__logo {
  margin: 0 41px 0 0;
}

.header .header__icon {
  margin: 0 0 0 33px;
}

.header .header__button {
  border: none;
  background: transparent;
}

.header .header__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: var(--black-hex);
  text-transform: uppercase;
  padding: 37px 0 4px 34px;
}

@media (max-width: 375px) {
  .header__icon_registration {
    display: none;
  }
}

@media (max-width: 375px) {
  .header__icon_basket {
    display: none;
  }
}

.hero {
  display: flex;
  background-color: var(--pink);
}

@media (max-width: 375px) {
  .hero {
    min-height: 363px;
  }
}

.hero .hero-wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
}

@media (max-width: 1599px) {
  .hero .hero-wrp {
    padding: 0 0 0 68px;
  }
}

.hero .hero__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  font-family: Lato;
  text-transform: uppercase;
}

@media (max-width: 1599px) {
  .hero .hero__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .hero .hero__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.hero .hero__subtitle {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1599px) {
  .hero .hero__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .hero .hero__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.hero .hero__pink {
  color: var(--dark-pink);
}

@media (max-width: 1599px) {
  .hero .hero__img {
    height: 100%;
    width: 50%;
    object-fit: contain;
  }
}

@media (max-width: 375px) {
  .hero .hero__img {
    display: none;
  }
}

.sale__box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

@media (max-width: 375px) {
  .sale__box {
    flex-direction: column;
  }
}

.sale__item {
  width: 32%;
  height: 260px;
  text-align: center;
  align-items: center;
  background-color: #524a4a;
  margin-bottom: 32px;
}

@media (max-width: 1599px) {
  .sale__item {
    width: 31.5%;
    height: 168px;
  }
}

@media (max-width: 375px) {
  .sale__item {
    width: 100%;
    height: 247px;
  }
}

.sale__item-women {
  background-image: url(../img/sale-women.jpg);
}

.sale__item-men {
  background-image: url(../img/sale-men.jpg);
}

.sale__item-kids {
  background-image: url(../img/sale-kids.jpg);
}

.sale__link {
  text-transform: uppercase;
  text-decoration: none;
}

.sale__item-accesories {
  background-image: url(../img/sale-accesories.jpg);
  align-items: center;
  margin-bottom: 97px;
  text-align: center;
  padding: 65px 0;
}

@media (max-width: 1599px) {
  .sale__item-accesories {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .sale__item-accesories {
    width: 100%;
  }
}

.sale__link-accesories {
  padding-left: 490px;
  text-transform: uppercase;
  text-decoration: none;
}

.sale__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: var(--dark-pink);
}

.sale__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  padding-top: 105px;
}

@media (max-width: 1599px) {
  .sale__text {
    padding-top: 59px;
  }
}

@media (max-width: 375px) {
  .sale__text {
    padding-top: 100px;
  }
}

.sale__text_accesories {
  padding: 0;
}

@media (max-width: 1599px) {
  .sale__text_accesories {
    padding-top: 0;
  }
}

@media (max-width: 375px) {
  .sale__text_accesories {
    padding-top: 0;
  }
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.cards__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 0 0 6px 0;
}

.cards__title-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: var(--gray);
  text-align: center;
  padding: 0 0 48px 0;
}

.cards__item {
  width: 360px;
  height: 581px;
}

.cards__img {
  width: 100%;
  height: 420px;
}

@media (max-width: 375px) {
  .cards__img {
    height: 403px;
  }
}

.cards__basket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: none;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 13px 15px 13px 50px;
  width: 138px;
  height: 43px;
}

.cards__basket::before {
  position: inherit;
  content: '';
  width: 100%;
  height: 24px;
  background-image: url(img/basket.svg);
  background-repeat: no-repeat;
  left: 8px;
  bottom: 8px;
}

.cards__overlay {
  position: relative;
}

.cards__overlay:before {
  content: '';
  width: 100%;
  min-height: 420px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}

.cards__overlay:before {
  display: none;
}

.cards__item:hover .cards__basket
.cards__item:hover .cards__overlay:before {
  display: block;
}

.cards__subtitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400 bold;
  font-style: normal;
  text-transform: uppercase;
  padding: 25px 0 13px 0;
}

.cards__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: var(--dark-gray);
  padding: 0 0 18px 0;
}

.cards__price {
  color: var(--dark-pink);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.cards__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin: 48px 0 95px 445px;
  color: var(--red);
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  display: block;
}

@media (max-width: 1599px) {
  .cards__button {
    margin: 0 auto;
  }
}

.cards__button:hover,
.cards__button:focus {
  cursor: pointer;
  outline: none;
  background: var(--dark-pink);
  color: var(--white);
}

.footer {
  background-color: var(--dark-black);
}

.delivery {
  background-color: var(--dark-black);
  margin-top: 65px;
}

.delivery__list {
  display: flex;
  padding: 103px 0 0 0;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1599px) {
  .delivery__list {
    flex-direction: column;
    padding: 50px 0 64px 0;
  }
}

@media (max-width: 375px) {
  .delivery__list {
    padding: 48px 0 81px 0;
  }
}

.delivery_icon {
  padding-bottom: 20px;
}

.delivery__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: var(--cristal-white);
}

.delivery__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: var(--cristal-white);
  padding: 16px 0 104px 0;
}

@media (max-width: 1599px) {
  .delivery__text {
    padding: 16px 0 48px 0;
  }
}

@media (max-width: 375px) {
  .delivery__text {
    padding: 14px 0 46px 0;
  }
}

.delivery__item {
  width: 360px;
}

.face {
  background-image: url(../img/footer.jpg);
  display: flex;
  text-align: center;
  height: 448px;
  background-size: cover;
}

@media (max-width: 1599px) {
  .face {
    height: 614px;
  }
}

@media (max-width: 375px) {
  .face {
    height: 550px;
  }
}

.face__content {
  display: flex;
  justify-content: space-around;
  padding: 86px 0 156px 0;
}

@media (max-width: 1599px) {
  .face__content {
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
    padding-bottom: 0;
  }
}

.face__img {
  height: 96px;
  width: 96px;
  margin-bottom: 30px;
}

.face__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  height: 99px;
  width: 359px;
  text-align: center;
}

@media (max-width: 375px) {
  .face__title {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
  }
}

.face__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 49px;
  background-color: var(--dark-pink);
  color: var(--white);
  border: none;
  border-radius: 0 20px 20px 0;
}

.face__text {
  width: 256px;
  height: 49px;
  border: none;
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  margin-right: -3px;
  padding-left: 22px;
}

@media (max-width: 375px) {
  .face__text {
    width: 200px;
  }
}

.face__bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: var(--black);
  display: block;
  text-transform: uppercase;
}

.face__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 167.2%;
  text-align: center;
  color: var(--black);
  padding-bottom: 32px;
  text-transform: uppercase;
}

.face__form {
  font-weight: 700;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  .contacts__box {
    flex-direction: column;
  }
}

.contacts__list {
  display: flex;
  align-items: center;
}

.contacts__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  padding: 30px 0 30px 0;
  color: var(--cristal-white);
}

.contacts__list {
  display: flex;
}

.contacts__item {
  padding: 7px;
}

.menu-sub-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-pink);
  text-transform: uppercase;
  padding: 20px 0 12px 33px;
}

.menu-sub-item__item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 73px 11px 54px;
  color: var(--gray-rgb);
}

.page-info {
  padding: 60px 0;
  text-transform: uppercase;
  background-color: var(--light-pink);
}

.page-info__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-pink);
}

.loyalty__box {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 96px 0;
}

@media (max-width: 375px) {
  .loyalty__box {
    flex-direction: column;
  }
}

.loyalty__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300 bold;
  font-style: normal;
  color: var(--black);
  padding-bottom: 22px;
}

.loyalty__input {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  width: 360px;
  height: 42px;
  margin-bottom: 20px;
  border: 1px solid #a4a4a4;
  padding: 12px 15px;
}

@media (max-width: 375px) {
  .loyalty__input {
    width: 306px;
  }
}

.loyalty__button {
  position: relative;
  width: 167;
  height: 50px;
  background-color: var(--dark-pink);
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 16px 66px 16px 29px;
  margin-top: 39px;
}

.loyalty__button::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 16px;
  background-image: url(../img/arrow_reg.svg);
  background-repeat: no-repeat;
  left: 119px;
  bottom: 12px;
}

.loyalty__text {
  color: var(--black-black);
  width: 562px;
}

@media (max-width: 1599px) {
  .loyalty__text {
    padding-left: 22px;
  }
}

@media (max-width: 375px) {
  .loyalty__text {
    width: 326px;
  }
}

.loyalty__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1599px) {
  .loyalty__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .loyalty__title {
    padding: 40px 0 10px 0;
  }
}

.loyalty__tit {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  padding: 22px 0;
}

@media (max-width: 1599px) {
  .loyalty__tit {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.loyalty__list {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1599px) {
  .loyalty__list {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.loyalty__item {
  padding-bottom: 16px;
  position: relative;
}

@media (max-width: 1599px) {
  .loyalty__item {
    padding-left: 60px;
  }
}

@media (max-width: 375px) {
  .loyalty__item {
    padding-left: 25px;
  }
}

.loyalty__item::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 16px;
  background-image: url(../img/marker_reg.svg);
  left: -45px;
  bottom: 21px;
}

@media (max-width: 1599px) {
  .loyalty__item::before {
    left: 37px;
  }
}

@media (max-width: 375px) {
  .loyalty__item::before {
    left: 0px;
  }
}

.loyalty__slogan {
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0em;
  color: #B1B1B1;
  width: 360px;
}
/*# sourceMappingURL=style.css.map */