.delivery {
    background-color: var(--dark-black);
    margin-top: 65px;
}
.delivery__list {
    display: flex;   
    padding: 103px 0 0 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
        padding: 50px 0 64px 0;
    }

    @include mobile {
        padding: 48px 0 81px 0;
    }
}

.delivery_icon {
    padding-bottom: 20px
}

.delivery__title {
    @include font(20px, 24px, 300);
        color: var(--cristal-white);
}

.delivery__text {
    @include font(14px, 17px, 300);
        color: var(--cristal-white);
        padding: 16px 0 104px 0;
    
    @include tablet {
        padding: 16px 0 48px 0;
    }

    @include mobile {
        padding: 14px 0 46px 0;
    }
}

.delivery__item {
    width: 360px;
}
